<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% csrf_token %}
                    {{form.as_p}}
<input type="submit" name='create' value="SIGNUP" >

</body>
</html>